#watch{
  width:680px;
  height:600px;
}
.music h3{
  position: absolute;
  top:138px;
  left:200px;
  color:blue;
}
#at{
  background-color:grey;
  width: 30px;
  height: 30px;
  font-size:30px;
  color:blue;
  position: absolute;
  top:530px;
  left:260px;
  border:none;
  outline: none;
  }
  #msg{
    background-color:grey;
    width: 30px;
    height: 30px;
    font-size:30px;
    color:blue;
    position: absolute;
    top:530px;
    left:315px;
    border:none;
    outline: none;
    }
  #tr{
    background-color:grey;
    width: 30px;
    height: 30px;
    font-size:30px;
    color:blue;
    position: absolute;
    top:530px;
    left:370px;
    border:none;
    outline: none;
    }
 .time{
   position: absolute;
   top:130px;
   left:410px;
   width:90px;
   color: blue;
 }
#container{
  position: absolute;
  top:167px;
  left:186px;
  background-color:white;
  width:300px;
  height:282px;
}
#pl{
  position: absolute;
  top:180px;
  left:65px;
  width:190px;
  height: 120px;
}

.mes a{
  text-decoration: none;
  padding-left: 15px;
}
.but{
  position: absolute;
  top:130px;
  left:75px;
  width:200px;
  height: 180px;
}
